<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" monitorInterval="30">
	<Properties>
		<Property name="LAYOUT">%date{DEFAULT} [%5p] Thread: [%t] %C{10} Method: %M Message: %message %n</Property>
	</Properties>
	
	<Appenders>
		<Console name="CONSOLE_LOG" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>${LAYOUT}</Pattern>
			</PatternLayout>
		</Console>

	</Appenders>

	<Loggers>
		<Logger level="DEBUG" name="it.template.pj.datalayer" additivity="false">
			<AppenderRef ref="CONSOLE_LOG"></AppenderRef>
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="CONSOLE_LOG"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>